<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Project 3 - US Map</title>

        <!-- Leaflet JS & CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

        <!-- d3 JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script src="https://d3js.org/d3-request.v1.min.js"></script>
        <script src="https://d3js.org/d3-queue.v3.min.js"></script>
        
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    </head>

    <body>
        <div class="container">
            <br>

            <a href="/">
                <button id="home" class="btn btn-default btn-lg">HOME</button>
            </a>
            <a href="graphs">
                <button id="graphs" class="btn btn-default btn-lg">GRAPHS</button>
            </a>
            <a href="geomap">
                <button id="geomap" class="btn btn-default btn-lg">GEO MAP</button>
            </a>
            <a href="degrees">
                <button id="degrees" class="btn btn-default btn-lg">DEGREES AWARDED</button>
            </a>
            <a href="new-page">
                <button id="new-page" class="btn btn-default btn-lg">MACHINE DRIVEN</button>
            </a>
            <a href="neas_viz">
                <button id="neas_viz" class="btn btn-default btn-lg">NEAS SURVEY</button>
            </a>
            <a href="conclusions">
                <button id="conclusions" class="btn btn-default btn-lg">CONCLUSION</button>
            </a>

            <hr>
            
            <h1>Tuition and Enrollment Change Per Year</h1>

        </div>

        <!-- map div -->
        <div id="map"></div>
        <!-- API key -->
        <script type="text/javascript" src="../static/js/config.js"></script>
        <!-- JS  -->
        <script type="text/javascript" src="../static/js/map-logic.js"></script>

    </body>
</html>
