<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Project 3 - Home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="container">
    <br>
    <a href="/">
      <button id="home" class="btn btn-default btn-lg">HOME</button>
    </a>
    <a href="graphs">
        <button id="graphs" class="btn btn-default btn-lg">GRAPHS</button>
    </a>
    <a href="geomap">
        <button id="geomap" class="btn btn-default btn-lg">GEO MAP</button>
    </a>
    <a href="degrees">
        <button id="degrees" class="btn btn-default btn-lg">DEGREES AWARDED</button>
    </a>
    <a href="new-page">
        <button id="new-page" class="btn btn-default btn-lg">MACHINE DRIVEN</button>
    </a>
    <a href="neas_viz">
        <button id="neas_viz" class="btn btn-default btn-lg">NEAS SURVEY</button>
    </a>
    <a href="conclusions">
        <button id="conclusions" class="btn btn-default btn-lg">CONCLUSION</button>
    </a>

    <hr>

    <h1>Degrees and Salaries</h1>

    <img width="600" src="/static/images/Now_What.png" alt="Graduate">

    <h3>Contributors</h3>
    <ul>
      <li>Rebecca Cate</li>
      <li>Patrick Lisk</li>
      <li>Monica James</li>
      <li>Sandhya Govindaraju</li>

    </ul>

    <h2>Project 3: Thesis and Summary</h2>
    <hr> Our team sought to link the salaries earned by high school and college graduates to see
    if there is a predictor to the type of degree you earn and the salary you earn. We looked at a
    2016 survey called the National Education and Attainment Survey (NEAS). Plugging the results
    into a predictive decision tree, we were able to determine the leading factors to the salaries
    people earn post degree. This linked into our second project by looking at how the rising college
    debt compares to people's ability to earn enough to cover the margin. 
    <hr>

    <h3>Project 3: Links to Data Sources</h3>
    <ul>
      <li>
        <a href="http://www.norc.org/Research/Projects/Pages/national-education-and-attainment-survey.aspx" target="_blank">NORC at the University of Chicago</a>
      </li>
    </ul>

    <img width="600" src="/static/images/Private_Revenue_Hook.png" alt="MysteryGraph">
  </div>
</body>

</html>