/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 95%;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
    padding: 6px 8px;
    font: 16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

text {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  fill: #777;
}

.axis {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis--y line {
  display: none;
}

.axis--x line {
  stroke: #eee;
}

.axis .domain {
  fill: none;
  stroke: none;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #eee;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

rect.bar {
  fill: #ABD80A;
  shape-rendering: crispEdges;
}

.year,
.total {
  text-anchor: end;
}

.title {
  font-size: 34px;
}

.total {
  font-size: 20px;
  fill: #ABD80A;
}

.year {
  font-size: 14px;
}

